@import "_variables.scss";
@import "_mixins.scss";


body {
    font-family: $oxygen;
    background: $color-white;
    padding-top: 70px;
}

h1 {
    font-size: $font-h1;
    
    &:not(:first-child) {
        padding-top: 70px;
    }
}

h2 {
    font-size: $font-h2;
}

h3 {
    font-size: $font-h3;
}

h4 {
    font-size: $font-h4;
}

h5 {
    font-size: $font-h5;
}

hr {
    border: 1px solid $green-text;
}

small {
    color: $green-text;
}

a {
    color: $green-text;
    font-weight: bolder;
    
    &:hover, &:visited, &:active {
        color: $green-text;
        text-decoration: none;
    }
    
    &.anchor {
        display: block;
        position: relative;
        top: -70px;
        visibility: hidden;
    }
}

.hero {
    width: 100%;
    position: relative;
    top: -20px;
}

.btn-green {
    color: $green-text !important;
    background: white !important;
    font-weight: bolder;
    border: 1px solid $green-text !important;   
    border-radius: 0 !important; 
    padding: 10px;
        
    &:hover {
        background: darken($color-white, 10%) !important;
    }
}

.btn-blue {
    color: white !important;
    background: $color-secondary-light !important;
    font-weight: bolder;
    border: 1px solid $color-secondary !important;   
    border-radius: 0 !important; 
    padding: 5px;
    
    &:hover {
        background: $color-secondary !important;
    }
}

.center {
    text-align: center;
}

.error {
    text-align: center;
    color: red;
    font-weight: bold;
}

.placeholder-form {
    height: 530px;
}