/* FONTS */
$oxygen: 'Oxygen', sans-serif;
$font-h1: 36px;
$font-h2: 28px;
$font-h3: 22px;
$font-h4: 18px;
$font-h5: 16px;

/* COLORS */
$color-secondary-light: #086DA8;
$color-secondary: #093D5C;
$color-accent: #A87733;
$color-white: #F5F5F5;
$color-gray: #A8A5A8;
$green-text: #789922;
$color-primary: #691517;

/* OPACITY */
$light-primary-text: 1;
$light-secondary-text: .70;
$light-disabled-text: .50;

$divider: .12;

$dark-primary-text: .87;
$dark-secondary-text: .54;
$dark-disabled-text: .38;